@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
@font-face {
  font-family: 'ChenYuluoyan';
  src: url('~assets/fonts/ChenYuluoyan-Thin-Monospaced.ttf') format('truetype');
}
@font-face {
  font-family: 'DiodrumRounded';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/DiodrumRounded-Regular.otf') format('truetype');
}
