// ------------------------------------------------  Font Family
$font_family_base: 'Noto Sans TC', 'Times New Roman', 'Arial', sans-serif;

// ------------------------------------------------  Project Main Color Theme
$primary: #646464;
$secondary: #003756;
$tertiary: #3c3c3c;
$auxiliary: #957b4a;